
.formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario__input-error-activo {
    display: block;
}

.formulario__validacion-estado {
    position: static;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.formulario__mensaje {
    height: 45px;
    line-height: 45px;
    background-color: #ffa1bb;
    padding: 0 15px;
    border-radius: 5px;
    display: none;
}

.formulario__mensaje-activo {
    display: block;
}

.formulario__grupo-btn-enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario__btn {
    height: 45px;
    width: 30%;
    text-align: center;
}

.formulario__mensaje-exito {
    font-size: 14px;
    color: #119200;
    display: none;
}

.formulario__mensaje-exito-activo {
    display: block;
}

/* estilo validacion */

.formulario__grupo-correcto .formulario__validacion-estado {
    color: #1ed12d;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
    color: #df1c1c
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
    color: #df1c1c;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
    border: 3px solid #df1c1c;
}