* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* etiquetas */

body {
    background-color: #FFEDF2;
}

nav i {
    color: #ffedf2;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1px;
    text-align: center;
}

/* clases */

.navbar-brand img {
    max-height: 6rem;
}

.rrss {
    width: 34px;
}

.dropdown-menu.fade {
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

.mybtn {
     background-color: #9999D2  ;
     border-color: #9999D3;
}

.mycard {
    background-color: #edf2ff ;
    border-color: #edf4ff ;
}

.mybtn:hover {
    background-color: #ffa1bb ;
    border-color: #ffa3bb ;
}

.dropdown-menu.fade.show {
    opacity: 1;
}


/* .navbar-nav-wrapper {
    margin-right: 5rem;
} */